body {
  margin: 0 auto;
  background-color: $colour-background;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 1em;
}

h1 {
  font-family: "Patua One", cursive;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.logo {
  max-height: 60px;
}

@media only screen and (min-width: 900px) {
  h1 {
    text-align: left;
    font-size: 40px;
  }

  .logo {
    max-height: 100px;
  }

  .products-page,
  .edit-page,
  .editform-page {
    max-width: 1000px;
    margin: 0 auto;
  }
}
