$colour-main: #c5c7f1;
$colour-main: #003b2b;
$colour-secondary: #2d2a8c;
$colour-secondary: #547c71;
$colour-secondary-darker: #1f1d61;
$colour-secondary-darker: #304740;
$colour-background: #f8eee9;
$colour-background: #fafbff;
$colour-grey: #c5c6c9;
$colour-darkgrey: #050114;

$shadow: 4px 4px 20px rgba(32, 0, 0, 0.203);
